name: Check for newline at end of file

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  eof-newline:
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    name: eof-newline-lint
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check final newline
        uses: qwrtln/check-final-newline@6dad6072a550df84ee0587219a2a4e3fabf84c9c # v1.0.0
